<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> #}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Eclass</title>
</head>
<body>
  <div class="parent">
    <nav class="sidebar">
        <div class="sidebar-header">
            <a href="/" class="sidebar-banner">
            Python Eclass
            </a>
            <button class="collapse">
              <i class="fa fa-bars"></i>
            </button>
            </button>
            <div>Python the right way</div>
            <ul id="sidebar-listNav" class="sidebar-listNav" role="tablist">
                <li>
                  <button id="lessons" class="selected" _="on click add .selected 
                  then remove .selected from #tests 
                  then remove [@hidden] from #ul-lessons
                  then add [@hidden] to #ul-tests">
                    Lessons
                  </button>
                </li>    
                <li>
                  <button id="tests" _="on click add .selected 
                  then remove .selected from #lessons 
                  then remove [@hidden] from #ul-tests
                  then add [@hidden] to #ul-lessons
                  ">
                    Tests
                  </button>
                </li>
              </ul>
        </div>
        <div class="sidebar-tabpanel">
          <ul id="ul-lessons" class="full-list">
            <li class="group">
              0. Introduction
              <li class="">
                <a href="{{ url_for('.welcome') }}">Welcome</a>
                <ul class="tab">
                  <li><a href="{{ url_for('.welcome', _anchor='what-is-python') }}">What is Python</a></li>
                  <li>Example</li>
                </ul>
              </li>
            </li>
            <li class="group">
              1. Data Types
              <li class="">
                <a>Numbers</a>
                <ul class="tab">
                  <li>Integers</li>
                  <li>Floats</li>
                  <li>Calculation</li>
                </ul>
              </li>
            </li>
          </ul>
          <ul id="ul-tests" class="full-list" hidden>
            <li class="group">
              1. Data Types
            <li class="">
            <a>Test 1.1</a>
            </li>
          </li>
          </ul>
        </div>
    </nav>

    <main>
      <div class="content">
          {% block content %}
          {% endblock content %}
      </div>
    </main>  
  </div>
</body>
</html>