<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/atom-one-light.css">
    <!-- and it's easy to individually load additional languages -->
    <title>Eclass</title>
</head>
<body>
  <div class="parent">
    <nav class="sidebar">    
        <div class="sidebar-header">
          <div class="right-buttons">
            <!--
            <button class="collapse">
              <img src="{{ url_for('static',filename='burger.svg') }}" alt="burger" width="20" height="20">
            </button>
            -->
          </div>  
            <a href="{{ url_for('.lessons', chapter=0, section=0) }}" class="sidebar-banner">
            Python Eclass
            </a>
            <div>Python the right way</div>
            <ul id="sidebar-listNav" class="sidebar-listNav" role="tablist">
                <li>
                  <button id="lessons" class="selected" _="on click add .selected 
                  then remove .selected from #tests 
                  then remove [@hidden] from #ul-lessons
                  then add [@hidden] to #ul-tests">
                    Lessons
                  </button>
                </li>    
                <li>
                  <button id="tests" _="on click add .selected 
                  then remove .selected from #lessons 
                  then remove [@hidden] from #ul-tests
                  then add [@hidden] to #ul-lessons
                  ">
                    Tests
                  </button>
                </li>
              </ul>
        </div>
        <div class="sidebar-tabpanel">
          <ul id="ul-lessons" class="full-list">
            <li class="group">
              0. Introduction
              <li class="">
                <a href="{{ url_for('.lessons', chapter=0, section=0) }}">Welcome</a>
              </li>
            </li>
            <li class="group">
              1. Data Types
              <li class="">
                <a href="{{ url_for('.lessons', chapter=1, section=0) }}">Numbers</a>
              </li>
              <li class="">
                <a href="{{ url_for('.lessons', chapter=1, section=1) }}">Text</a>
              </li>
              <li class="">
                <a href="{{ url_for('.lessons', chapter=1, section=2) }}">Sequences</a>
              </li>
              <li class="">
                <a href="{{ url_for('.lessons', chapter=1, section=3) }}">Set and Dicts</a>
              </li>
              <li class="">
                <a href="{{ url_for('.lessons', chapter=1, section=4) }}">Other types</a>
              </li>
            <li class="group">
              2. Python Basics
              <li class="">
                <a href="{{ url_for('.lessons', chapter=2, section=0) }}">Variables</a>
              </li>
              <li class="">
                <a href="{{ url_for('.lessons', chapter=2, section=1) }}">Conditionals</a>
              </li>
              <li class="">
                <a href="{{ url_for('.lessons', chapter=2, section=2) }}">Loops</a>
              </li>
              <li class="">
                <a href="{{ url_for('.lessons', chapter=2, section=3) }}">Functions</a>
              </li>
              <li class="">
                <a href="{{ url_for('.lessons', chapter=2, section=4) }}">Liabraries</a>
              </li>

            </li>
          </ul>
          <ul id="ul-tests" class="full-list" hidden>
            <li class="group">
                Individual Chapter Tests
            <li class="">
            <a href="{{ url_for('.quiz', chapter=0) }}">Test for Chapter 0</a>
            </li>
            <li class="">
              <a href="{{ url_for('.quiz', chapter=1) }}">Test for Chapter 1</a>
            </li>
            <li class="">
                <a href="{{ url_for('.quiz', chapter=2) }}">Test for Chapter 2</a>
            </li> 
            </li>
            <li class="group">
                All Chapters Test
            <li class="">
            <a href="{{ url_for('.quiz', chapter=-1) }}">Comprehesive Test</a>
            </li>
            </li>
          </ul>
        </div>
    </nav>

    <main>
      <div class="content">
        <div class="right-buttons">
          <a href="/login">
            <img src="{{ url_for('static',filename='profile.svg') }}" alt="profile" width="25" height="25">
          </a>
        </div>
          {% block content %}
          {% endblock content %}
      </div>
    </main>
  </div>
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</body>
</html>
