{% extends "base.html" %}
{% block content %}

<!--
<section id="">
    <h1 class="section-heading">
    </h1>
    <p></p>
</section>

<section id="">
    <h2 class="section-heading">
    </h2>
    <p></p>
</section>

<pre><code class="language-python">

</code></pre>
-->

<section id="Numbers">
    <h1 class="section-heading">
        Numbers
    </h1>
    <p>Python has 3 data types for numbers. Integer, float and complex</p>
</section>

<section id="Integer">
    <h2 class="section-heading">
        Integer
    </h2>
    <p>Int, or integer, is whole a whole number, without decimals. It can be postive or negative.
       Int type is unbounded, that means theoritacally it can be of unlimited length.
        <pre>
            <code class="language-python">
x = 1
y = 99999999999999
z = -324
            </code>
        </pre>
    </p>
</section>


<section id="Float">
    <h2 class="section-heading">
        Float
    </h2>
    <p>Float number can be a positive or negative number that contains one or more decimals.
        <pre><code class="language-python">
x = 3.14
y = 1.0
z = -23.12
        </code></pre>
    </p>
</section>

<section id="Complex">
    <h2 class="section-heading">
        Complex
    </h2>
    <p>Complex numbers are written with a "j" as the imaginary part:
        <pre><code class="language-python">
x = 3+5j
y = 2j
z = -5j
        </code></pre>
    </p>
</section>


{% endblock content %}
