{% extends "base.html" %}
{% block content %}

<!--
<section id="">
    <h1 class="section-heading">
    </h1>
    <p></p>
</section>

<section id="">
    <h2 class="section-heading">
    </h2>
    <p></p>
</section>

<pre><code class="language-python">

</code></pre>
-->

<section id="Sequences">
    <h1 class="section-heading">
Sequences
    </h1>
    <p>
        In Python, sequence is the generic term for an ordered set.
        There are several types of sequences in Python, such as Lists, tuples and strings that we learned in previous chapter.
    </p>
</section>

<section id="Lists">
    <h2 class="section-heading">
        List
    </h2>
    <p>
        In Python, a list is a collection of items that are ordered and changeable.
        Lists allow duplicate members and can hold items of different data types.
        Lists are one of the most versatile and commonly used data types in Python.
    </p>

    <p>
        Lists are defined by enclosing elements in square brackets `[]`.
        They support various operations such as indexing, slicing, appending, and removing elements.
        <pre><code class="language-python">
# Creating a list
my_list = [1, 2, 3, 'a', 'b', 'c']

first_item = my_list[0] # 1
last_item = my_list[-1] # 'c'
        </code></pre>
    </p>

    <p>Lists have various method, that will cover in a later chapter, but two basic methods are append and pop.
    With append we add items at the end of the list and with pop we remove the last item.
        <pre>
            <code class="language-python">
my list = [] # An empty List

my_list.append(1) # List will be [1]
my_list.append(2) # List will be [1,2]

my_list.pop() # List will be [1]
            </code>
        </pre>
    </p>

    <p>Also a useful function lists it the function len(). With len() we get current length of a list
        <pre>
            <code class="language-python">
my_list = [1,2,3]

x = len(my_list)

print(x) # X will be 3
            </code>
        </pre>
    </p>
</section>


<section id="Tuple">
    <h2 class="section-heading">
Tuple
    </h2>
    <p>
        In Python tuples are likes lists but immutable. That means, that once a tuple is created, it cannot be modified.
        To create a tuple we use parentheses '()'
        <pre><code class="language-python">
empty_tuple = ()

numbers_tuple = (1,2,3)

mixed_tuple = (1,"two",3)

x = mixed_tuple[0] # X will be 1
        </code></pre>
    </p>
</section>

<section id="Range">
    <h2 class="section-heading">
Range
    </h2>

    <p>
        Range is not considered a sequence, it is a function. But the result of range is an immutable sequence of numbers.
    </p>

    <p>
        Range sytnax is like this: range(start, stop, step).
    </p>
    <p>
        Where start is the first number of the sequence and stop the upper limit of sequence.
        Step is the incrementation from start till stop.
        The default value for start is 0 and for step 1. Stop has not a default value.
        <pre><code class="language-python">
# Both ranges are the same
# (0,1,2,3,4,5)
x = range(0,6,1)
x = range(6) # We skip start and step

# (2,4,6,8)
y = range(2, 10, 2)

        </code></pre>

    </p>
</section>

{% endblock content %}
