{% extends "base.html" %}
{% block content %}

<!--
<section id="">
    <h1 class="section-heading">
    </h1>
    <p></p>
</section>

<section id="">
    <h2 class="section-heading">
    </h2>
    <p></p>
</section>

<pre><code class="language-python">

</code></pre>
-->

<section id="Conditionals">
    <h1 class="section-heading">
        Conditionals
    </h1>
    <p>
        Conditionals add logic and flow to our programs. The main way to python conditions is If statements.
    </p>
</section>

<section id="If">
    <h2 class="section-heading">
        If
    </h2>

    <p>Before we start with if statements, firs we should know about logical conditions and operators.
        <ul>
            <li>Equals: a == b</li>
            <li>Not Equals: a != b</li>
            <li>Less than: a < b</li>
            <li>Less than or equal to: a <= b</li>
            <li>Greater than: a > b</li>
            <li>Greater than or equal to: a >= b</li>
        </ul>
        With that in mind we can move on with the if statement.
    </p>
    <p>
        Whith if statement if the condition is True, we will execute the block of the if, ele we will skip it.
        <pre><code class="language-python">
a = 1
b = 10
if b > a:
  print("b is greater than a") # The print will be executed because b>a is True
        </code></pre>
    </p>
</section>



{% endblock content %}
