{% extends "base.html" %}
{% block content %}

<!--
<section id="">
    <h1 class="section-heading">
    </h1>
    <p></p>
</section>

<section id="">
    <h2 class="section-heading">
    </h2>
    <p></p>
</section>

<pre><code class="language-python">

</code></pre>
-->

<section id="Conditionals">
    <h1 class="section-heading">
        Conditionals
    </h1>
    <p>
        Conditionals add logic and flow to our programs. The main way to python conditions is If statements.
    </p>
</section>

<section id="If">
    <h2 class="section-heading">
        If
    </h2>

    <p>Before we start with if statements, firs we should know about logical conditions and operators.
        <ul>
            <li>Equals: a == b</li>
            <li>Not Equals: a != b</li>
            <li>Less than: a < b</li>
            <li>Less than or equal to: a <= b</li>
            <li>Greater than: a > b</li>
            <li>Greater than or equal to: a >= b</li>
        </ul>
        With that in mind we can move on with the if statement.
    </p>
    <p>
        With if statement, if the condition is True, we will execute the block of the if, else we will skip it.
        <pre><code class="language-python">
a = 1
b = 10
if b > a:
  print("b is greater than a") # The print will be executed because b>a is True
        </code></pre>
    </p>
</section>

<section id="Else">
    <h2 class="section-heading">
        Else
    </h2>
    <p>
       With else if the value of the if statement is false, we will execute the else block.
        <pre><code class="language-python">
a = 100
b = 10
if b > a:
  print("b is greater than a") # This won't be executed
else:
  print("b is not greater than a") This will be
        </code></pre>
    </p>
</section>


<section id="Elif">
    <h2 class="section-heading">
        Elif
    </h2>
    <p>
        We can add more if statements after our first if statment, using the elif keyword.
        If the first if statement if False, then the first elif statement that is true will be executed.
        If none elif statement is true if we have an else statement, then the else block will be executed.
        <pre><code class="language-python">
a = 10
b = 10

if b > a:
  print("b is greater than a") # This won't be executed
elif b == a:
  print("b is equal to a") # This will be executed
elif b < a:
  print("b is not greater than a") # This will be skipped, because the first elif got executed
else:
  print("How did you end up here?")

        </code></pre>
    </p>

    <p>As you can see, we can have multiple elifs.</p>
</section>


{% endblock content %}
