<h2>Results For Chapter {{ chapter }}</h2>

<div class="pie animate" style="--p:{{percentage}}--c:lightgreen"> {{percentage}}%</div>


{% for r in results %}
{% if r[3] %}
<div class="question"><h3>{{r[4]}}. {{ r[0] }}<span id="checkmark"></span></h3></div>
<div class="answer">Correct answer: {{ r[1] }}</div>
<div class="answer-correct"><span>You chose: </span>{{ r[2] }}</div>
<br>
{% else %}
<div class="question"><h3>{{r[4]}}. {{ r[0] }}<span id="wrongmark"></span></h3></div>
<div class="answer">Correct answer: {{ r[1] }}</div>
<div class="answer-wrong"><span>You chose: </span>{{ r[2] }}</div>
<br>
{% endif %}
{% endfor %}

<div class="buttons" style="  display: flex;flex-direction: row">
    <div style="flex:0;width: 20%;"> </div> 
    <div style="flex:1;width: 80%;"> </div>  
</div>

<div class="buttons" style="  display: flex;flex-direction: row">
    <div style="flex:0;width: 20%;"> </div> 
    <div style="flex:1;width: 80%;"> </div>  
    <button class="quiz-button" hx-get="/lessons/{{chapter}}" hx-target="#quiz-card" hx-swap="inner-html" >Home</button> 
</div>

</div>