<h2>Results For Chapter {{ chapter }}</h2>


{% if (percentage >= 0)  and (percentage <= 20) %}
<div class="pie animate no-round" style="--p: {{percentage}}"> {{percentage}} </div>
{% endif %}

{% if (percentage >= 21)  and (percentage <= 40) %}
<div class="pie animate no-round" style="--p: {{percentage}};--c:darkblue"> {{percentage}} </div>
{% endif %}

{% if (percentage >= 41)  and (percentage <= 60) %}
<div class="pie animate no-round" style="--p: {{percentage}};--c:purple">{{percentage}} </div>
{% endif %}

{% if (percentage >= 61)  and (percentage <= 80) %}
<div class="pie animate no-round" style="--p: {{percentage}};--c:orange"> {{percentage}} </div>
{% endif %}

{% if (percentage >= 81)  and (percentage <= 100) %}
<div class="pie animate no-round" style="--p: {{percentage}};--c:lightgreen"> {{percentage}}</div>
{% endif %}
<div> 2 / 3 right answers </div>

{% for r in results %}
{% if r[3] %}
<div class="question"><h3>{{r[4]}}. {{ r[0] }}<span id="checkmark"></span></h3></div>
<div class="answer">Correct answer: {{ r[1] }}</div>
<div class="answer-correct"><span>You chose: </span>{{ r[2] }}</div>
<br>
{% else %}
<div class="question"><h3>{{r[4]}}. {{ r[0] }}<span id="wrongmark"></span></h3></div>
<div class="answer">Correct answer: {{ r[1] }}</div>
<div class="answer-wrong"><span>You chose: </span>{{ r[2] }}</div>
<br>
{% endif %}
{% endfor %}

<div class="buttons" style="display: flex;flex-direction: row">
    <div style="flex:0;width: 20%;"> </div> 
    <div style="flex:1;width: 80%;"> </div>  
</div>

<div class="buttons" style="  display: flex;flex-direction: row">
    <div style="flex:0;width: 20%;"> </div> 
    <div style="flex:1;width: 80%;"> </div>  
    {% if chapter == "-1" %}
    <button onclick="location.href = '/lessons/0/0';" class="quiz-button">Home</button> 
    {% else %}
    <button onclick="location.href = '/lessons/{{ chapter }}/0';" class="quiz-button">Home</button> 
    {% endif %}
</div>

</div>