{% extends "base.html" %}
{% block content %}


<div id="quiz-card">

{% if chapter == "-1" %}
<h1>All Chapters</h1>
<h2>Quiz Questions For All Chapters</h2>
{% else %}
<h1>Chapter {{ chapter }}</h1>
<h2>Quiz Questions For Chapter {{ chapter }}</h2>
{% endif %}

<input hidden name="ids-list" value="{{ ids }}">

<form>
<p>When you are ready to start the quiz pres the Start button</p>
</form>
<br>
<div class="buttons" style="  display: flex;flex-direction: row">
    <div style="flex:0;width: 20%;"> </div> 
    <div style="flex:1;width: 80%;"> </div>  
</div>

<div class="buttons" style="  display: flex;flex-direction: row">
    <div style="flex:0;width: 20%;"> </div> 
    <div style="flex:1;width: 80%;"> </div>  
    <button class="quiz-button" hx-get="/tests/{{chapter}}/{{id}}" hx-target="#quiz-card" hx-swap="inner-html" >Start</button> 
</div>

</div>



{% endblock content %}