{% extends "base.html" %}
{% block content %}
  
<h1>Question 1/7</h1>

<h2>When programming language named Python was invented?</h2>


<form>
    <input type="radio" id="q1" name="quiz" value="In 1998" required>
    <label for="q1">In 1998</label><br>
    <input type="radio" id="q2" name="quiz" value="Circa 2000s" required>
    <label for="q2">Circa 2000s</label><br>  
    <input type="radio" id="q3" name="quiz" value="2002" required>
    <label for="q3">2002</label><br>
    <input type="radio" id="q4" name="quiz" value="1993 desinged and 1995 released" required>
    <label for="q4">1993 desinged and 1995 released</label><br>
    <br>
</form>

<div class="buttons" style="  display: flex;flex-direction: row">
    <button class="quiz-button">Back</button>
    <div style="flex:1;width: 80%;"> </div>  
    <button class="quiz-button">Next</button> 
</div>

{% endblock content %}