* { 
    font-family: sans-serif; 
    background: #ebe7d3; 
    /* padding: 1rem; */
    box-sizing: border-box;
}

.content {
    margin-left: 10rem;
    border-left: 1 rem;
    padding: 1rem 1rem 1rem 5rem;
  }

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  float: left;
  padding: 2rem 1rem 0rem 1rem;
}